mesh/motor0.smb filter=lfs diff=lfs merge=lfs -text
mesh/motor.egadslite filter=lfs diff=lfs merge=lfs -text
mesh/motor.egadslite.sup filter=lfs diff=lfs merge=lfs -text
mesh/motor.eto filter=lfs diff=lfs merge=lfs -text
mesh/motor.egads filter=lfs diff=lfs merge=lfs -text
mesh/motor.egads.sup filter=lfs diff=lfs merge=lfs -text
mesh/motor2D0.smb filter=lfs diff=lfs merge=lfs -text
mesh/motor2D.egadslite filter=lfs diff=lfs merge=lfs -text
mesh/motor2D.egadslite.sup filter=lfs diff=lfs merge=lfs -text
mesh/motor2D.eto filter=lfs diff=lfs merge=lfs -text
mesh/motor2D.egads filter=lfs diff=lfs merge=lfs -text
mesh/motor2D.egads.sup filter=lfs diff=lfs merge=lfs -text
